{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Notevia{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css"/> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% block head %}

    {% endblock %}

    {% block style %}

    {% endblock %}

</head>
<body>

    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading">
                <img src="{% static 'images/logo/logo12.png' %}" alt="NoteVia Logo" width="120">
            </div>
            <div class="list-group list-group-flush my-3">
                <a href="{% url 'admin-dash' user_id=user_id %}" 
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin-dash' %}active{% endif %}">
                   <i class="bi bi-grid-1x2-fill me-2"></i>Dashboard
                </a>
            
                <a href="{% url 'admin-product' %}" 
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin-product' %}active{% endif %}">
                   <i class="bi bi-box-seam-fill me-2"></i>Products
                </a>
            
                <a href="{% url 'admin_order_list' %}" 
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin_order_list' %}active{% endif %}">
                   <i class="bi bi-list-ul me-2"></i>Order List
                </a>
            
                <a href="{% url 'admin-customers' %}" 
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin-customers' %}active{% endif %}">
                   <i class="bi bi-person-fill me-2"></i>Customer
                </a>
            
                <a href="{% url 'admin_sales' %}" 
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin_sales' %}active{% endif %}">
                   <i class="bi bi-currency-dollar me-2"></i>Sales
                </a>
            
                <a href="{% url 'admin-category' %}"
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin-category' %}active{% endif %}">
                   <i class="bi bi-grid-fill me-2"></i>Category
                </a>
            
                <a href="{% url 'admin_coupon_list' %}" 
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin_coupon_list' %}active{% endif %}">
                   <i class="bi bi-ticket-perforated-fill me-2"></i>Coupons
                </a>
            
                <a href="{% url 'admin_View_transactions' %}" 
                   class="list-group-item list-group-item-action {% if request.resolver_match.url_name == 'admin_View_transactions' %}active{% endif %}">
                   <i class="bi bi-image-fill me-2"></i>Transactions
                </a>
            </div>
            <div class="sidebar-footer">
                <!-- <a href="#" class="list-group-item list-group-item-action account-btn">Account</a> -->
                <a href="{% url 'signout' user_id=user_id %}" class="list-group-item list-group-item-action logout-btn">Logout</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="bi bi-list fs-4 me-3" id="menu-toggle"></i>
                </div>
                <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> -->

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            
                            <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                                role="button" data-bs-toggle="dropdown" aria-expanded="True">
                                <img src="https://i.imgur.com/e8bsh4w.png" alt="Admin" width="40" class="rounded-circle me-2">
                                {{user.full_name}}
                            </a>
                            

                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
                                <!-- <li><a class="dropdown-item" href="#">Settings</a></li> -->
                                <li><a class="dropdown-item" href="{% url 'signout' user_id=user_id %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- start from  -->
            <main>
                {% block content %}
    
                {% endblock %}
            </main>
        </div>
                
    </div>
    <!-- /#page-content-wrapper -->

    {% block modal %}
    
    {% endblock %}
    

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script> -->
    <script>
        var el = document.getElementById("wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
    <script src="{% static 'js/adminscript.js' %}"></script>
    {% block script %}

    {% endblock %}
</body>
</html>