
{% extends "adminbase.html" %}

{% load static %}

{% block title %}{% if request.resolver_match.url_name == 'add-category' %}Add category {% else %} Edit category {% endif %}Add category {% endblock %}
<!-- {% block head %} {% endblock %} -->

{% block content %}
<!-- Add Category Section -->
<div class="container-fluid">

    <div class="row">

        <main class="col-md-9 col-lg-10 px-md-4 main-content right-main">

            <!-- Page Header -->
            <h2 class="h3 mb-4 text-dark">{% if request.resolver_match.url_name == 'add-category' %}ADD A CATEGORY {% else %} EDIT CATEGORY OF {{category.name}} {% endif %}</h2>

            <!-- Add Category Form Card -->
            <div class="card border-0">
                <div class="card-body p-4">
                    {% if request.resolver_match.url_name == 'add-category' %}
                    <form action="{% url 'add-category' %}" method="POST">
                        {% else %}
                        <form method="post">
                            {% endif %}
                        {% csrf_token %}
                        <!-- Category Name -->
                        {% if request.resolver_match.url_name == 'add-category' %}
                        <div class="mb-4">
                            <label for="categoryName" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" name="name" placeholder="Type category name here..." value="{% if form.name.errors %}{{ form.name.value|default:'' }}{% endif %}">
                            {% if form.name.errors %}
                            <small style="color:red;">{{ form.name.errors.0 }}</small>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="mb-4">
                            <label for="categoryName" class="form-label">Category Name</label>
                            <input type="text" class="form-control" id="categoryName" name="name" placeholder="Type category name here..." value="{% if form.name.errors %}{{ form.name.value|default:'' }} {% else %} {{ category.name|default:'' }} {% endif %}">
                            {% if form.name.errors %}
                            <small style="color:red;">{{ form.name.errors.0 }}</small>
                            {% endif %}
                        
                        </div>
                        {% endif %}

                        <!-- Description -->
                        {% if request.resolver_match.url_name == 'add-category' %}
                        <div class="mb-4">
                            <label for="categoryDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="categoryDescription" name="description" rows="5" placeholder="Type category description here...">{% if form.description.errors %}{{ form.description.value|default:'' }} {% endif %}</textarea>
                            {% if form.description.errors %}
                            <small style="color:red;">{{ form.description.errors.0 }}</small>
                            {% endif %}
                        </div>
                        {% else %}
                        <div class="mb-4">
                            <label for="categoryDescription" class="form-label">Description</label>
                            <textarea class="form-control" id="categoryDescription" name="description" rows="5" placeholder="Type category description here...">{% if form.description.errors %}{{ form.description.value|default:'' }}{% else %}{{ category.description|default:'' }}{% endif %}</textarea>
                            {% if form.description.errors %}
                            <small style="color:red;">{{ form.description.errors.0 }}</small>
                            {% endif %}
                        </div>
                        {% endif %}

                        <!-- Status Radio Buttons -->
                        {% if request.resolver_match.url_name == 'add-category' %}
                        <div class="mb-4">
                            <label class="form-label d-block">Should be</label>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="categoryStatus" id="statusListed" value="listed" checked>
                                <label class="form-check-label" for="statusListed">
                                    Listed
                                </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="categoryStatus" id="statusUnlisted" value="unlisted">
                                <label class="form-check-label" for="statusUnlisted">
                                    Unlisted
                                </label>
                            </div>
                        </div>
                        {% endif %}

                        <!-- Submit Button -->
                        {% if request.resolver_match.url_name == 'add-category' %}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-dark">Add Category</button>
                        </div>
                        {% else %}
                        <div class="mt-4">
                            <button type="submit" class="btn btn-dark">Edit Category</button>
                        </div>
                        {% endif %}
                    </form>
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} mt-2">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}