{% extends "adminbase.html" %}

{% load static %}

{% block title %} Dashboard {% endblock %}
{% block head %} <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> {% endblock %}

{% block content %}

<!-- start of category content -->

<div class="container-fluid">
    <div class="row">
        <!-- Assuming your sidebar is on the left -->
        <!-- <nav class="col-md-2 d-none d-md-block bg-light sidebar"> -->
            <!-- Sidebar content here -->
        <!-- </nav> -->

        <main class="col-md-9 col-lg-10 px-md-4 main-content right-main">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Category</li>
                </ol>
            </nav>

            <div class="category-header">
                <h1>CATEGORY</h1>
                <a href="{% url 'add-category' %}" class="text-decoration-none btn btn-dark">Add Category</a>
            </div>

            <div class="search-and-sort">
                <div class="search-bar">
                    <i class="fas fa-search"></i>
                    <input type="text" class="form-control" placeholder="Search category...">
                </div>
                <div class="sort-buttons btn-group">
                    <button type="button" class="btn btn-outline-secondary">Sort</button>
                    <button type="button" class="btn btn-outline-secondary">Price High-Low</button>
                    <button type="button" class="btn btn-outline-secondary">Price Low-High</button>
                    <button type="button" class="btn btn-outline-secondary">Last added first</button>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">SNO</th>
                            <th scope="col">Category Name</th>
                            <!-- <th scope="col">Sales</th>
                            <th scope="col">Stock</th> -->
                            <th scope="col">Added</th>
                            <th scope="col">Unlist/List</th>
                            <th scope="col">Action</th>
                            <th scope="col">Offer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cat in category %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{cat.name}}</td>
                            <!-- <td>15,020</td>
                            <td>2000</td> -->
                            <td>{{cat.updated_at.date}}</td>
                            <td>
                                <div class="form-check form-switch ">
                                <input class="form-check-input" 
                                type="checkbox" role="switch" id="switch{{ cat.id }}" 
                                {% if cat.is_listed %}checked {% endif %} onchange="toggleStatus('{{cat.id}}')">
                                
                                </div>
                            </td>
                            <td class="action-icons">
                                <button class="btn btn-sm"><i class="fas fa-eye"></i></button>
                                <a href="{% url 'edit_category' cat.id %}" class="btn btn-sm"><i class="fas fa-edit"></i></button>
                                <a href="{% url 'category_delete' cat.id %}" class="btn btn-sm text-danger"><i class="fas fa-trash"></i></button>
                            </td>
                            <td>
                              {% if cat.offer %}
                                <span>{{cat.offer.title}} {{cat.offer.start_date}} {{cat.offer.end_date}}</span>
                                <a href="{% url 'editcategory_offer' cat.id %}" class="btn btn-sm "><i class="fas fa-edit"></i></a>
                                <a href="{% url 'category_remove_offer' cat.id %}" class="btn btn-sm text-danger"><i class="fas fa-trash"></i></button>
                                {% else %}
                                <a href="{% url 'addcategory_offer' cat.id %}" class="text-decoration-none btn btn-dark btn-sm " >Add Offer</a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </main>
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} mt-2">{{ message }}</div>
        {% endfor %}
        {% endif %}
    </div>
</div>
<!-- /end of category content -->

{% endblock %}

{% block modal %}

<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2 id="modalTitle">Add the product Offer</h2>
        <span class="close">&times;</span>
      </div>
      <div class="modal-body">
        <form id="offerForm" method="POSST">
          <div class="form-group">
            <label for="offer-title">Offer Title</label>
            <input type="text" id="offer-title" name="offer-title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="offerabout">About</label>
            <textarea class="form-control" id="offerabout" name="about" rows="5" placeholder="Type offer description here..."></textarea>
          </div>
          <div class="form-group">
            <label>Discount</label>
            <div class="discount-inputs">
              <div class="discount-input">
                <input type="text" name="discount" placeholder="in percentage">
                <span>%</span>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Date</label>
            <div class="date-inputs">
              <div class="date-input">
                <label for="start-date">Start date</label>
                <input type="text" id="start-date" name="start-date" placeholder="mm/dd/yyyy">
                <span class="calendar-icon">&#128197;</span>
              </div>
              <span>To</span>
              <div class="date-input">
                <label for="end-date">Ending date</label>
                <input type="text" id="end-date" name="end-date" placeholder="mm/dd/yyyy">
                <span class="calendar-icon">&#128197;</span>
              </div>
            </div>
          </div>
          <div class="form-actions">
            <button type="button" class="btn btn-light closeModal">Cancel</button>
            <button type="submit" class="btn btn-dark" id="modalSubmitBtn">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  
      <!-- /The Modal for add offer -->

{% endblock %}

{% block script %}

<script>
  function toggleStatus(categoryId) {
    const csrfToken = '{{ csrf_token }}';

    axios.post(`/adminpanel/toggle-status/${categoryId}/`, {}, {
      headers: {
        'X-CSRFToken': csrfToken
      }
    })
    .then(response => {
      if (response.data.success) {
        const isListed = response.data.is_list;
        console.log(`Category ${categoryId} is now:`, isListed ? 'Listed ✅' : 'Unlisted ❌');
      }
    })
    .catch(error => {
      console.error("Error updating status:", error);
    });
  }
</script>

{% endblock %}